<div class="row" style="margin-top: 30px;">
<div class="col-md-6" style="background-color: lightgrey; margin: 0 auto; padding: 30px;">
    <h2 class="text-center">Edit Event</h2>
    <form>
      <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" id="title" name="title" [(ngModel)]="event.title" placeholder="Enter Title of the Event" name="Title" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="Description">Description:</label>
        <input id="description" type="text" name="description" [(ngModel)]="event.description" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="Date">Date:</label>
        <input id="date" type="text" name="date" [(ngModel)]="event.date" class="form-control">
      </div>

      
      <div class="form-group">
        <label for="Date">Start-time:</label>
        <input id="start_time" type="text" name="start_time" [(ngModel)]="event.start_time" class="form-control">
      </div>

      
      <div class="form-group">
        <label for="Date">End-time:</label>
        <input id="end_time" type="text" name="end_time" [(ngModel)]="event.end_time" class="form-control">
      </div>
  
      <button style="float: right;" class="btn btn-warning" (click)="update(event)">Update</button>
    </form>
  </div>
</div>